.modal.drawer {
  display: flex !important;
  pointer-events: none;
}
.modal.drawer * {
  pointer-events: none;
}
.modal.fade.show {
  background-color: rgba(31, 31, 31, 0.5);
}

.modal.drawer .modal-dialog {
  margin: 0px;
  display: flex;
  flex: auto;
  transform: translate(25%, 0);
  max-width: 300px;
}

.modal.drawer .modal-dialog .modal-content {
  background: black;
  height: 100%;
}
.modal.drawer .modal-dialog .modal-content .modal-body {
  overflow: auto;
}
.modal.drawer.show {
  pointer-events: auto;
}
.modal.drawer.show * {
  pointer-events: auto;
}
.modal.drawer.show .modal-dialog {
  transform: translate(0, 0);
}
.modal.drawer.right-align {
  flex-direction: row-reverse;
}
.modal.drawer.left-align:not(.show) .modal-dialog {
  transform: translate(-25%, 0);
}

.circle {
  position: fixed;
  margin-top: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  z-index: 100 !important;
}

.hamburger-icon {
  color: white !important;
}
.close-icon {
  font-size: 28px;
  cursor: pointer;
  color: white !important;
}
.menu-icons {
  font-size: 22px;
  color: white;
}
li :hover {
  color: #14c5fd;
}
li {
  color: white;
}
.active {
  color: #14c5fd;
}
.cursor-pointer {
  cursor: pointer;
}
.menu-bar {
  top: 30%;
  right: 4%;
  position: fixed;
  border: 1px solid gray;
  border-radius: 50px;
}

@media only screen and (max-width: 1000px) {
  .circle {
    right: 50px !important;
  }
  .menu-bar {
    visibility: hidden !important;
    opacity: 0;
  }
}
